sp
call main.Main 0
ep

function Main 0
	push constant 3
	push constant 9
	push constant 5
	call mid.mid 3
	
	push constant 7
	call fibonacci.fibonacci 1
	
	push constant 6
    push constant 4
    call divmod.div 2

    push constant 6
    push constant 4 
    call divmod.mod 2

label END
	goto END